doctype html
html(lang="en")
  head
    title= "Jade vs JadeIMP"
  body
    - var lastname = "Malik"
    h1 Jade works entirely on the server side
    div
      input(id="in" type="text" name='user[name]' value=name+" "+lastname)
    p Your name is #{name} #{lastname}
    div
      | The generated HTML is completely static.
      | There's no way to get the value of the text box and update the text (requires use of additional JavaScript code).